*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   
 }

header{
    background-color:#063631;
    list-style:none;
    color:whitesmoke;
    width:100%;
    

    margin-bottom: 20px; 

}
nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
  }


nav ul {
    display: flex;
    align-items: right;

    list-style: none;
}
  nav a {
    font-size: 18px;
  }
nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
  
   
}

.home a {
   text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;

}

  
  
  
  
/**#editor_pick {
    display: block;
    margin: 0 auto;
    width:100%;


  }
  #editor_pick img{
    display:block;
    width:100%;
    height:720px;
}
am still working on this, the goal is to have like a hero section but the image doesnt display correctly


#editors_pick {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
  }
  
  #editors_pick img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
**/

#articles{
    display:flex;
    align-items: center;
    margin: 20px;
    justify-content: center;
}





/**media queries**/
@media only screen and (max-width: 767px) {
    #articles {
      display: block;
      margin: 20px;
    }
    
    article {
      width: 100%;
    }
    
    #articles img {
      width: 100%;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    #articles {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px;
    }
    
    article {
      width: 45%;
    }
    
    #articles img {
      width: 100%;
    }
  }
  @media only screen and (min-width: 992px) {
    #articles {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 20px;
    }
    
    article {
      width: 30%;
    }
    
    #articles img {
      width: 100%;
    }
  }
  