{% extends 'base.html' %}
{% block head %}
  {{ super() }}
  <link href="/styles/login.css" rel="stylesheet" type="text/css" >
  
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
{{ super() }}
<div class="login-form">
    <h1>Sign Up</h1>
    <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button id="submit"  type="submit">Continue</button>
    </form>
</div>
 
{% endblock %}