
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet" type="text/css" >
</head>
<body>
    <header>
        <nav>
        
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/login.html">Login</a></li>
                <li><a href="/signup.html">
                    <button>Get Started</button>
                </a></li>

                
            </ul>
        </nav>

    </header>
    <main>

        <section id="articles">
            <article>
                <h4>Hello Berlin</h4>
                <img src="/images/berlin.jpg" alt ="image of Berlin city"> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis id repellendus, vitae maiores incidunt facere illum totam voluptatum. Nihil atque odit error inventore voluptatem fugiat labore tempora. Beatae, saepe omnis!</p>
            </article>
            <article>
                <h4>Hello Heidel</h4>
                <img src="/images/heidelberg.jpg" alt ="image of Berlin city"> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis id repellendus, vitae maiores incidunt facere illum totam voluptatum. Nihil atque odit error inventore voluptatem fugiat labore tempora. Beatae, saepe omnis!</p>
            </article>
            <article>
                <img src="/images/berlin.jpg" alt ="image of Berlin city"> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis id repellendus, vitae maiores incidunt facere illum totam voluptatum. Nihil atque odit error inventore voluptatem fugiat labore tempora. Beatae, saepe omnis!</p>
            </article>



            
        </section>
       

    </main>
    
</body>
</html>